<div class="container">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 calculator-container">
      <div class="row">
        <div class="screen">
          <p class="operation">{{formula}}</p>
          <p class="display">{{value}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <button class="btn btn-default" id="AC" (click)="clear($event)">AC</button>
        </div>
        <div class="col-xs-3">
          <button class="btn btn-default" id="%" value="" (click)="getPercentage($event)">%</button>
        </div>
        <div class="col-xs-3">
          <button class="btn btn-default" id="sqrt" value="sqr" (click)="calculateSqr($event)">x
            <sup>2</sup>
          </button>
        </div>
        <div class="col-xs-3">
          <button class="btn btn-default" id="divide" value="/" (click)="onOperator($event)">&divide;</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <button class="btn btn-default" id="7" value=7 (click)="displayValue($event)">7</button>
        </div>
        <div class="col-xs-3">
          <button class="btn btn-default" id="8" value=8 (click)="displayValue($event)">8</button>
        </div>
        <div class="col-xs-3">
          <button class="btn btn-default" id="9" value=9 (click)="displayValue($event)">9</button>
        </div>
        <div class="col-xs-3">
          <button class="btn btn-default" value="*" (click)="onOperator($event)">x</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <button class="btn btn-default" value=4 (click)="displayValue($event)">4</button>
        </div>
        <div class="col-xs-3">
          <button class="btn btn-default" value=5 (click)="displayValue($event)">5</button>
        </div>
        <div class="col-xs-3">
          <button class="btn btn-default" value=6 (click)="displayValue($event)">6</button>
        </div>
        <div class="col-xs-3">
          <button class="btn btn-default" value="-" (click)="onOperator($event)">-</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <button class="btn btn-default" value=1 (click)="displayValue($event)">1</button>
        </div>
        <div class="col-xs-3">
          <button class="btn btn-default" value=2 (click)="displayValue($event)">2</button>
        </div>
        <div class="col-xs-3">
          <button class="btn btn-default" value=3 (click)="displayValue($event)">3</button>
        </div>
        <div class="col-xs-3">
          <button class="btn btn-default" value="+" (click)="onOperator($event)">+</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <button class="btn btn-default" value="-" (click)="setNegative($event)">+/-</button>
        </div>
        <div class="col-xs-3">
          <button class="btn btn-default" id="0" value=0 (click)="displayValue($event)">0</button>
        </div>
        <div class="col-xs-3">
          <button class="btn btn-default" value="." (click)="addFloatingpoint($event)">.</button>
        </div>
        <div class="col-xs-3">
          <button class="btn btn-default" value="" (click)="calculate($event)">=</button>
        </div>
      </div>
    </div>
  </div>
</div>